.crimson-font {
    font-family: 'Crimson Text', serif;
}
.custom-shadow {
    text-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}
.Clock-Numbers{
    font-size: 29vh;
    text-shadow: 0 10px 50px rgba(41, 40, 61, 0.7);
}